.large-height{
    height: 400px;
    background-color: rgb(87, 18, 65);
    color: white;
}

.small-height{
    height: 200px;
    background-color: rgb(167, 201, 14);
    color: white;
}

.basic-accordion{
    width: 60%;
    position: relative;
    top: 200px;
    left: 20%;
    font-size: 30px;
    font-family: cursive;
}